---
import MainLayout from "../layouts/MainLayout.astro";

// import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout title="About | Gage Harmon" description="About Gage Harmon">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Keep reading to learn more about myself!"
      >
        <img
          width="1553"
          height="873"
          src="/assets/Family-photo.jpg"
          alt="Gage Harmon"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Software Engineer with a wide range of experience in the tech
            industry. Combined I have over 5 years of experience working in IT
            and have recently transitioned to the Software Engineering side of
            tech to further my knowledge in a field that interests me. I am
            extremely passionate about technology and enjoy staying as
            up-to-date as possible. I would describe myself as extremely
            self-motivated and an enthusiastic team player. I spent two years
            pursuing a college degree in Computer Science. My goal is to
            continue my higher education in the near future. Currently, I am
            attending the Flatiron Schools coding boot camp to further my
            education and jumpstart a new career in the technology industry.
          </p>
        </div>
        <h2 class="section-title">Personal</h2>
        <div class="content">
          <p>
            Originally from Michigan, I currently live in the beautiful state of
            Colorado with my partner who is currently attending Veterinary
            school. We have two dogs, a 4 year Heeler named Bindi, and a 5 year
            old golden retriever named Sully. Some of my hobbies include hiking,
            traveling, adventuring with our dogs, the occasional video game, and
            working on my projects
          </p>
        </div>
      </section>
    </main>

    <!-- <Contact /> -->
  </div>
</MainLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
