---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside>
  <h2 style="font-size: var(--text-3xl); text-align: center; max-width: 15ch;">
    Interested in working together?
  </h2>
  <CallToAction href="mailto:gaharmon1@gmail.com">
    Let's talk!
    <Icon icon="paper-plane-tilt" size="1.2em" />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1.5rem;
    background-color: var(--gray-999_40);
    margin-right: 40rem;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
</style>
